{% extends 'layouts/base.html' %}
{% load humanize %}
{% block title %}I am a Django God - {{ block.super }}{% endblock %}
{% block content %}
  <h1>Delusions of Grandeur #{{ munber }}</h1>
  <p>They make life EXCITING for {{ thing }}.</p>
  <p>{% if munber %}Number exists!{% else %}booooo{% endif %}</p>
  <p>
    There are {{ munber }} dog{{ munber|pluralize }} and {{ single|apnumber }}
    ocelot{{ single|pluralize }}.
  </p>
  <h1>These are the things:</h1>
  {% for nacho in things %}
  <h2>{{ nacho.name }}</h2>
  <p>{{ nacho.description }}</p>
  {% endfor %}
  OIC: {{ uno.name}}<br />
  <h1>These are the things named thing:</h1>
  {% for nacho in things_named_thing %}
  <h2>{{ nacho.name }}</h2>
  <p>{{ nacho.description }}</p>
  {% endfor %}
  <h1>These are the links to the things:</h1>
  {% for nacho in things %}
  <h2>
    <a href="{% url 'thing_detail' slug=nacho.slug %}">
      {{ nacho.name }}
    </a>
  </h2>
  <p>{{ nacho.description }}</p>
  {% endfor %}
{% endblock %}
